@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Source+Serif+Pro:wght@300&display=swap');

.logo {
    width: 80px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #D9D9D9;
    text-decoration: none;
    font-family: "Source Serif Pro", Helvetica, sans-serif;
    padding: 35px;
}
nav a:hover {
    color: #A6A6A6;
}
header {
    background-color: #050739;
    border: 1px solid;
    border-color: #A6A6A6;
    display: grid;
    grid-template-columns: 150px auto;
}
body {
    background-color: #030426;
    color: #D9D9D9;
}
#title-msg {
    text-align: center;
    font-family: "Ovo", serif;
}
#title-msg h4 {
    margin-top: -20px;
    margin-bottom: 45px;
}
.home-title {
    font-family: "Ovo", serif;
    font-size: 30px;
}
.homeimg1 {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.welcome-message {
    text-align: center;
}
.welcome-message h2 {
    font-family: "Ovo", serif;
    padding-top: 15px;
}
.welcome-message p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-family: "Source Serif Pro", Helvetica, sans-serif;
}
footer {
    background-color: #050739;
    border: 1px solid;
    border-color: #A6A6A6;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: "Source Serif Pro", Helvetica, sans-serif;
}
footer a {
    color: #D9D9D9;
}
footer a:hover {
    color: #A6A6A6;
}
/* ourstory code */ 
.ourstory-title {
    font-family: "Ovo", serif;
    font-size: 45px;
}
 .ourstory-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ourstory-img1 {
    width: 500px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.ourstory-img2 {
    width: 500px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 50px;
}
.ourstory-images {
    display: block;
    float: left;
    margin-left: 200px;
    margin-bottom: 50px;
    margin-right: 100px;
}
.ourstory-content {
    width: 80%;
    font-size: 25px;
    text-align: center;
    grid-column: 2/3;
       
}
/* wedding-details code */
.weddingdetails-title {
    font-family: "Ovo", serif;
    font-size: 45px;
}
.weddingdetails-info {
    font-family: "Source Serif Pro", Helvetica, sans-serif;
    font-size: 23px;
    margin-left: 100px;
    margin-right: 100px;
}
.registryinfo h2{
    text-align: center;
    font-family: "Ovo", serif;
    font-size: 30px;
    margin-top: 50px;
}
.registryinfo p{
    font-family: "Source Serif Pro", Helvetica, sans-serif;
    text-align: center;
    font-size: 23px;
}
.receptioninfo{
    text-align: center;
    font-family: "Ovo", serif;
    font-size: 30px;
    margin-top: 50px;
}
.googlemaps {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gilbert {
    float: left;
    margin: 20px;
    grid-column: 1/2;
}
.gilbert h3 {
    text-align: center;
    font-family: "Source Serif Pro", Helvetica, sans-serif;
    text-align: center;
}
.cassville {
    grid-column: 2/3;
    margin-top: 20px;
} 
.cassville h3 {
    text-align: center;
    font-family: "Source Serif Pro", Helvetica, sans-serif;
    text-align: center;
}
